 <span class="number"><%= question.num %>.</span>
 <span class="content"><%= question.content %> </span> <br />
 <span class="extra_answers">Extra answer: <%= question.extra_answer %> </span> <br />
 <span class="multians">Multians: <%= question.multians %> </span> <br />
