<dd>
  <span class="number"><%= question.num %>.</span>
  <span class="content"><%= question.content %> </span>
  <% unless question.answers.empty? %>
   <table class="answers">
    <%= render @answers %>
   </table>
  <% end %>
</dd>
