<% if @answer.errors.any? %>
  <div id="error_explanation">
    <h2> <%= pluralize(@answer.errors.count, "error") %>
         prohibited this answer from being saved:</h2>
    <p> There were problems with the following fields: </p>
    <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
