<% if object.errors.any? %>
  <div class="error explanation">
    <p> <%= t 'errors.body' %> </p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
