<% if @questionary.errors.any? %>
  <div id="error_explanation">
    <h2> <%= pluralize(@questionary.errors.count, "error") %>
         prohibited this questionary from being saved:</h2>
    <p> There were problems with the following fields: </p>
    <ul>
      <% @questionary.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
