<% if with_error %>
  <tr class="question_with_error">
<% else %>
  <tr>
<% end %>
  <td class="question">
    <span class="question"><%= "#{question.num}. #{question.content}" %></span>
    <% unless question.multians == 1 %>
      <br /><span class="hint"><%= t ".hint", :count => question.multians %></span>
    <% end %>
  </td>
  <td class="answers">
    <ul>
      <% question.answers.sort.each do |answer| %>
        <% if answer.verified %>
          <%= render :partial => 'answer', :locals => { :question => question,
                                                        :answer => answer, :f => f } %>
        <% end %>
      <% end %>

      <% if question.extra_answer %>
        <%= render :partial => 'extra_answer', :locals => { :question => question, :f => f } %>
      <% end %>
    </ul>
  </td>
</tr>
