<div id="authors">
  <p>
    <b>Разработчики приложения:</b>
    <ul>
      <li>Евгений Астапович</li>
      <li>Егор Лынько</li>
      <li>Николай Герман</li>
    </ul>
  </p>
</div>
<div id="gratitude">
</div>
