<%= form_for(@result) do |f| %>
  <%= render 'shared/object_error_messages', :object => f.object %>
  <table>
    <% @questionary.questions.sort.each do |question| %>
      <%= render :partial => 'question', :locals => { :question => question, :f => f } %>
    <% end %>
  </table>
  <%= f.submit (t ".submit"), :class => "round" %>
<% end %>
