<%= form_for(@result) do |f| %>
  <table>
    <% @questionary.questions.each do |question| %>
      <%= render :partial => 'question', :locals => { :question => question, :f => f } %>
    <% end %>
  </table>
  <%= f.submit %>
<% end %>
