<h1><%= t ".header" %></h1>

<p>
  Здравствуйте.
</p>
<p>
  Вы находитесь на интернет-сайте, созданном для проведения социологического опроса на тему <b>“Роль&nbspкинематографа&nbspв&nbspжизни&nbspсовременного&nbspчеловека”</b>.
</p>
<p>
  Данный опрос&nbsp—&nbspработа в рамках курса социологии, выполняемая студентами ВУЗа.
  Опрос абсолютно анонимен, все данные будут представлены только в обобщенном виде.
</p>
<p>
  Если Вы желаете принять участие в опросе, нажмите, пожалуйста, кнопку “Участвовать” и ответьте на простые вопросы.
</p>

<%= link_to (t ".participate_button"), form_path, :class => "participate_button round" %>
