<p id="thanks">Спасибо, что приняли участие в опросе.</p>
<p>
  Пожалуйста, воспользуйтесь одной из кнопок внизу, чтобы рассказать друзьям об этом опросе.
  Нам очень необходимо получить как можно больше результатов.
</p>
<div id="arrow_down">
  <%= image_tag("arrow_down.jpg") %>
</div>
