<table class="questionary">
  <tr>
    <td>
      <strong>Name:</strong> <%= @questionary.name %> <br />
      <strong>Discription:</strong> <%= @questionary.description %>
    </td>
    <td>
      <dl>
        <% unless @questionary.questions.empty? %>
          <%= render @questions %>
        <% end %>
      </dl>
    </td>
  </tr>
</table>
