.container {
  width: 70%;
}

body {
  background-image: url(/assets/bg.png);
}

header {
  padding-top: 20px;
  display: compact;
}

header img {
  padding: 1em;
  background: #fff;
}

footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

#thanks {
  font-size: 150%;
  text-align: center;
  color: red;
  margin: 0
}

section p {
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

/* Participate button */
a.participate_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #FFFFFF;
  background: #996633;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}

/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  text-decoration: none;
  color: #008ab2;
}

nav ul li a:hover {
  text-decoration: underline;
}

form ul li {
  list-style-type: none;
}

.submit_block {
  margin-top: 60px;
  text-align: center;
}

#submit {
  height: 40px;
}

span.question {
  font-size: 120%;
  font-weight: bold;
}

span.hint {
  font-size: 90%;
  color: #663333;
}

tr.question_with_error td
{
  border: 5px solid red;
}

tr.question_with_error td.question
{
  border-right: 0;
}

tr.question_with_error td.answers
{
  border-left: 0;
}

#arrow_down
{
  margin:0 auto;
  width: 100px;
}

#arrow_down img
{
  width:100%;
}

#vk_like {
  float: left;
  clear: none !important;
  margin-left: 10px;
  margin-top: 3px;
}

#ya_share
{
  float: left;
  margin-left: 20px;
}

#buttons {
  overflow: hidden;
  width: 305px;
  margin: 0 auto;
}

.explanation
{
  margin-bottom: 30px;
}

.explanation ul
{
  margin-bottom: 10px;
}

#authors
{
  width: 198px;
  margin: 0 auto;
}

#authors ul
{
  margin-left: 20px;
}

#gratitude p
{
  text-align: center;
}
