<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to (t ".home"), root_path %></li>
      <li><%= link_to (t ".authors"), authors_path %></li>
    </ul>
  </nav>
</header>
