<header>
  <%= image_tag("logo.png", :alt => (t "layouts.application.title"), :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to (t ".home"), root_path %></li>
    </ul>
  </nav>
</header>
